.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", sans-serif;
}

.login-card {
  width: 340px;
  padding: 40px;

  border-radius: 20px;
  backdrop-filter: blur(18px);
  background: white;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 15px;

  animation: fadeIn 0.6s ease;
}

.login-card h1 {
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #ddd;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-card input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.15);
  color: black;

  transition: 0.2s;
}

.login-card input:focus {
  background: gray;
  transform: scale(1.03);
}

.login-card button {
  padding: 12px;
  border-radius: 10px;
  border: none;

  background: #00c6ff;
  background: linear-gradient(45deg, #00c6ff, #0072ff);

  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.login-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 114, 255, 0.4);
}

.error {
  background: #ff4d4d;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 13px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


